*{
    color:#dd912e;

}
.intro{
    text-align: center;
}
.project{
    text-align: center;
    border-color: #680e56;
    box-shadow: 8px 8px 10px #60034d;
    padding: 7px;
    width: viewport;
}


.card{
    border-style:solid;
    border-radius: 12px;
    margin:15px;
    margin-right: 950px;
    padding: 7px;
    width: viewport;
    box-shadow: 8px 8px 10px #4b043d;
}

button{
    background-color: #b01414;
    border-radius: 5px;
}

.imagebox{
    border-style: solid;
    border-radius: 50%;
    border-color: #680e56;
    padding: 3px;
    /* background:linear-gradient(#ee1818 ,#f6f611 ,#e61c3d ,#2424e4,#e605e6);
    padding: 2px; */


    background-color: #dd912e;
}

.box{
    border-style:solid;
    border-radius: 10px;
    background-color: #dd912e;
    box-shadow: 8px 8px 10px  #3d0131;

    /* margin:10px;
    margin-right: 950px;
    padding: 7px; */ 
}

